@model IEnumerable<Harati.Models.ItemCategoryWrap>

@{
    ViewBag.Title = "ViewItem";
    Layout = "~/Views/Shared/_LayoutHarati.cshtml";
}
<script src="~/assets/js/jqueryside.min.js"></script>
<link href="~/assets/magnifier/css/jquery.simpleGallery.css" rel="stylesheet" />
<link href="~/assets/magnifier/css/jquery.simpleLens.css" rel="stylesheet" />
<script src="~/assets/magnifier/src/jquery.simpleGallery.js"></script>
<script src="~/assets/magnifier/src/jquery.simpleLens.js"></script>
<link href="~/Content/etalage.css" rel="stylesheet" />
<script src="~/Content/jquery.etalage.min.js"></script>
<style>
    body {
        font-size: 12px;
        font-family: Verdana,Arial;
    }

    #feedback {
        position: fixed;
        top: 100px;
        left: -330px;
    }

        #feedback form {
            float: left;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
            background-color: #faf9f6;
            
        }

            #feedback form label {
                display: block;
                float: left;
                text-align: right;
                margin-right: 20px;
                width: 70px;
                font-weight: bold;
                color: #380793;
                font-size: 14px;
            }

        #feedback a {
            /*background: url("feedback-buttons.png") no-repeat center left transparent;*/
            background: url('../../../Content/Images/order1.png')no-repeat;
            display: block;
            width: 40px;
            height: 175px;
            float: left;
            /*text-indent: -9999em;*/
            position: absolute;
            top: 70px;
            right: -40px;
            border-radius: 0px 5px 5px 0px;
            
        }

      

        #feedback form .btn {
            float: right;
            background-color: aquamarine;
            width: 80px;
            height: 28px;
        }

        /*#feedback form textarea {
            width: 200px;
            height: 140px;
            /*border: 1px solid;
            border:none;
        }*/

        #feedback form input[type="text"] {
            width: 240px;
            height: 30px;
            border: 1px solid #808080;
        }

        #feedback h2 {
            text-align: center;
            
            font-size: 22px;
        }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(".pull_feedback").toggle(function () {
            $("#feedback").animate({ left: "0px" });
            return false;
        },
			function () {
			    $("#feedback").animate({ left: "-330px" });
			    return false;
			}
		);

        $('#etalage').etalage({
            thumb_image_width: 300,
            thumb_image_height: 400,
            source_image_width: 900,
            source_image_height: 1200,
            show_hint: true,
            click_callback: function (image_anchor, instance_id) {
                //alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
            }
        });
    });
</script>


@foreach (var item in Model)
{
    <div id="product-section">
        <div class="row">
            <div class="col-md-6">
                <div style="margin-left:20%;">
                    <ul id="etalage">
                        <li>
                            <img class="etalage_thumb_image img-responsive" src="~/@item.Image" alt="">
                            <img class="etalage_source_image img-responsive" src="~/@item.Image" alt="">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h1>@item.ItemName</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="label label-primary">Vintage</span>
                        <span class="monospaced">No.#####</span>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12 bottom-rule">
                        <h2 class="product-price">@item.Price</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 bottom-rule top-10"></div>
                </div>
                <div class="row">
                    <div class="col-md-12 top-10">
                        <p>To order by telephone, <a href="tel:18005551212">please call 01-4481225</a></p>
                    </div>
                </div>
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#description"
                               aria-controls="description"
                               role="tab"
                               data-toggle="tab">Description</a>
                        </li>
                    </ul>
                    @item.Description

                </div>
            </div>
        </div>
    </div>

    <div id="feedback">
        @using (Html.BeginForm("Order", "Mail", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="form-group">
                @*@Html.Label("Color", new { @class = "form - control" })*@
                <label for="color">Color:</label>
                <input type="text" name="color" class="form-control" style="width:200px;"  required="required" />
            </div>
            <div class="form-group">
                <label for="mobile">Mobile:</label>
                <input type="text" name="mobile" class="form-control" style="width:200px;"  required="required" />
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name="email" class="form-control" style="width:240px;" required="required" />
            </div>
            <input type="hidden" name="Image" value="@item.Image.ToString()" />
            <input type="hidden" name="Id" value="@item.ItemId.ToString()" />
            <input type="hidden" name="Name" value="@item.ItemName.ToString()" />
            <br /><br />
            <input type="submit" value="Order" style="background-color:#ccc;color:saddlebrown;font-weight:bold;" class="btn btn-info" />
        }
        @*style="text-decoration:none;
            color:saddlebrown; font-size:15px; font-weight:bold;"*@
        <a href="#" class="pull_feedback" title="Order This"></a>

    </div>
}

